body{
    background-color: #ebebeb;
    background-image: url(./images/bg2.jpg);
    background-size: cover;
    background-repeat: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}